[Desktop Entry]
Type=Application
Name=Dragonwilds Sync
Comment=World discovery, synchronization, characters, and profiles for RuneScape: Dragonwilds
Exec=dragonwilds-sync %U
Icon=com.dragonwilds.sync
Terminal=false
Categories=Game;Utility;
MimeType=application/x-rsdwl;
StartupWMClass=Dragonwilds Sync
